<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glm" version="1.0.1" targetFramework="native" />
  <package id="Microsoft.AI.DirectML" version="1.15.4" targetFramework="native" />
  <package id="Microsoft.AI.MachineLearning" version="1.22.0" targetFramework="native" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.23.0" targetFramework="native" />
</packages>